__pycache__/
*.py[cod]
*$py.class

.git/
.gitignore
.gitattributes

.idea/
.vscode/
.cursor*/

*.log

Dockerfile
docker-compose.yml
docker-compose.override.yml

venv/
env/
.venv/

__pypackages__/

dist/
build/

*.sqlite3

README.md

